
body 
{ 
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
} 
/* Login Form */
.login-container 
{ 
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 
.login-container h2 
{ 
    margin: 0 0 15px; 
    text-align: center; 
} 
.login-container input[type="text"], .login-container input[type="password"]
{ 
    width: 97%; 
    padding: 10px; 
    margin: 10px 0px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
} 
.login-container button 
{ 
    margin-bottom: 10px;
    width: 100%; 
    padding: 10px; 
    background-color: #007BFF; 
    border: none; 
    border-radius: 3px; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
} 
.login-container button:hover 
{ 
    background-color: #0056b3; 
}
.login-container a {
    text-decoration: underline;
    color: #002d9e;
}
.login-container a:visited {
    color: #002d9e;
}
/* Register Form */
.register-container 
{ 
    background-color: white; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
} 
.register-container h2 
{ 
    margin: 0 0 15px; 
    text-align: center; 
} 
.register-container input[type="text"], .register-container input[type="email"], .register-container input[type="password"] 
{ 
    width: 97%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
} 
.register-container button 
{ 
    width: 100%; 
    margin-top: 15px;
    padding: 10px; 
    background-color: #28a745; 
    border: none; 
    border-radius: 3px; 
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
}
.register-container button:hover 
{  
    background-color: #1e7e34; 
}

/* Home page */

.home-container 
{
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container h1 
{
    margin: 0 0 15px;
    text-align: center;
}

.series 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.card
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card img 
{
    max-width: 200px;
    height: 350px;
}

.img-star 
{
    max-width: 32px;
    max-height: 32px;
}

.logoutButton
{
    margin-top: 10px;
    padding: 10px;
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.logoutButton:hover 
{
    background-color: #c3272d;
}

.topTenButton
{
    margin-top: 10px;
    padding: 10px;
    background-color: #17a2b8;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.topTenButton:hover
{
    background-color: #138496;
}

.verTodasButton
{
    margin-top: 10px;
    padding: 10px;
    background-color: #ffc107;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.verTodasButton:hover
{
    background-color: #ffc950;
}